<mat-toolbar>
  <span>Rock, Paper or Scissors Game</span>
  <span class="spacer"></span>
  <app-quit-game></app-quit-game>
</mat-toolbar>

<div class="container">
  <ng-container *ngIf="lastRound?.winner; else elseTemplate">
    <h1 class="mat-h1 mt">Round Over</h1>
    <h2 class="mat-h2">Go Job, {{lastRound.winner}}!</h2>
    <p class="mat-body">You won the round.</p>
  </ng-container>
  <ng-template #elseTemplate>
    <h1 class="mat-h1">It was a tie!</h1>
    <h2 class="mat-h2">Nobody won the round.</h2>
  </ng-template>
  <app-rounds-score></app-rounds-score>
  <div class="mt">
    <button mat-button type="button" (click)="nextRound()">Next Round</button>
  </div>
</div>